# Python virtual environment
/.venv/

# Pyenv config
/.python-version

# Cache cache files
__pycache__/
/.mypy_cache
/.pytest_cache

# environemental variables
.env
**/.env.kube

# data directory for output testing
/data/

# secrets
**/aws-credentials.yaml
